.scala-build/
.bsp/
.metals/
.bloop/
target/
out/
*.class
*.log
*.hprof
.DS_Store
.gradle/
build/
.blockbox-java-classes/
launcher/.gradle/
launcher/build/
launcher/instances/
launcher/exports/
launcher/*.log
*.bbpack
